*{
    margin: 0;
    padding: 0;
}

.login-main{
    width: 100%;
    height: 100vh;
    background-color: hsla(227, 33%, 31%, 1);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.login-headers{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100px;
    margin-top: 150px;
    text-align: left;
}
.login-heading{
    font-size:50px;
    font-family: "DM Sans";
    color: white;
    font-weight: 500;
}
.login-para{
    font-size: 25px;
    font-family: "DM Sans";
    font-weight: 500;
    color: white;
    width: 642px ;
    height: 33px;
}
.login-form{
    width:700px;
    height:400px;
    border: 2px solid white;
    border-radius: 33px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 25px;
}
.email-box-login{
    display: flex;
    width: 600px;
    height: 20px;
    margin-top: 100px;
    margin-left: 30px;
}
.email-logo{
    width:27px;
    height: 27px;
    margin-right: 10px;
    margin-top: 5px;
}
.email-input{
    width:574px ;
    height: 22px;
    font-size: 20px;
    font-family: "DM Sans";
    font-weight: 500;
    color: hsla(0, 0%, 45%, 1);
    padding: 5px;
    border: none;
    border-bottom: 2px solid hsla(0, 0%, 67%, 1); 
}
.password-box-login{
    display: flex;
    width: 600px;
    height: 20px;
    margin-top: 50px;
    margin-left: 30px;

}
.password-logo{
    width:27px;
    height: 27px;
    margin-right: 10px;
    margin-top: 5px;

}
.password-input{
    width:574px ;
    height: 22px;
    font-size: 20px;
    font-family: "DM Sans";
    font-weight: 500;
    color: hsla(0, 0%, 45%, 1);
    padding: 5px;
    border: none;
    border-bottom: 2px solid hsla(0, 0%, 67%, 1); 
}
.redirectSignup{
    font-size: 20px;
    color: hsla(0, 0%, 45%, 1) ;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    margin-left: 30px;
}
.signUp{
    color:hsla(227, 33%, 31%, 1);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
}
.login-btn{
    width: 150px ;
    height: 44px;
    background-color: hsla(227, 33%, 31%, 1);
    border: none;
    border-radius: 28px;
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top:50px;
    margin-left: 480px;
}


@media screen and (max-width:480px) {

    .login-main{
        width: 100%;
        height: 100vh;
        background-color: hsla(227, 33%, 31%, 1);
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    
    .login-headers{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100px;
        margin-top: 30px;
        text-align: left;
    }
    .login-heading{
        font-size:45px;
        font-family: "DM Sans";
        color: white;
        font-weight: 500;
        height: 50px;
    }
    .login-para{
        font-size: 20px;
        font-family: "DM Sans";
        font-weight: 500;
        color: white;
        width: 360px ;
        height: 33px;
        margin-top:20px;
    }
    .login-form{
        width:320px;
        height:400px;
        border: 2px solid white;
        border-radius: 33px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        padding: 25px;
    }
    .email-box-login{
        display: flex;
        width: 300px;
        height: 20px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .email-logo{
        width:27px;
        height: 27px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .email-input{
        width:200px ;
        height: 22px;
        font-size: 20px;
        font-family: "DM Sans";
        font-weight: 500;
        color: hsla(0, 0%, 45%, 1);
        padding: 5px;
        border: none;
        border-bottom: 2px solid hsla(0, 0%, 67%, 1); 
    }
    .password-box-login{
        display: flex;
        width: 300px;
        height: 20px;
        margin-top: 70px;
        margin-left: 30px;
    
    }
    .password-logo{
        width:27px;
        height: 27px;
        margin-right: 10px;
        margin-top: 5px;
    
    }
    .password-input{
        width:200px ;
        height: 22px;
        font-size: 20px;
        font-family: "DM Sans";
        font-weight: 500;
        color: hsla(0, 0%, 45%, 1);
        padding: 5px;
        border: none;
        border-bottom: 2px solid hsla(0, 0%, 67%, 1); 
    }
    .redirectSignup{
        font-size: 19px;
        color: hsla(0, 0%, 45%, 1) ;
        font-family: DM Sans;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 50px;
        margin-left: 0px;
        width: 250px;
    }
    .signUp{
        color:hsla(227, 33%, 31%, 1);
        font-family: DM Sans;
        font-weight: 500;
        font-size: 20px;
        width: 49px;
    }
    .login-btn{
        width: 195px ;
        height: 40px;
        background-color: hsla(227, 33%, 31%, 1);
        border: none;
        border-radius: 28px;
        font-family: DM Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        margin-top:50px;
        margin-left: 0px;
    }
    
    
}